@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&family=WDXL+Lubrifont+JP+N&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-800;
  }
}

@layer components {
  .primary-btn {
    @apply bg-primary text-white font-semibold py-3 px-6 rounded-md hover:!scale-110 duration-300 cursor-pointer;
  }

  .container {
    @apply mx-auto;
    padding-left: var(--container-padding-default);
    padding-right: var(--container-padding-default);
  }

  @screen sm {
    .container {
      padding-left: var(--container-padding-sm);
      padding-right: var(--container-padding-sm);
    }
  }

  @screen lg {
    .container {
      padding-left: var(--container-padding-lg);
      padding-right: var(--container-padding-lg);
    }
  }

  @screen xl {
    .container {
      padding-left: var(--container-padding-xl);
      padding-right: var(--container-padding-xl);
    }
  }

  @screen 2xl {
    .container {
      padding-left: var(--container-padding-2xl);
      padding-right: var(--container-padding-2xl);
    }
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: -6px 8px 15px rgba(0, 0, 0, 0.2);
  }
  .navg::after {
    @apply content-['']  bg-primary h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute;
  }
  .navg:hover:after {
    @apply w-[100%] duration-300;
  }
}

@theme {
  --container-padding-default: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;

  --color-primary: #1d4ed8;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
  --color-background: #f3f4f6;
  --color-text: #111827;

  --font-serif: "Playfair", serif, "display";
}
